.main {
    & {
        position: relative;
        background: #fff;

        margin: 20px 0;
        width: 100%;

        &:last-of-type{
            margin-bottom: 0;
        }

        @media screen and(min-width: 992px) {
            height: calc(100vh - 80px);
            display: flex;
            flex-flow: unset;
            justify-content: center;
            align-items: flex-start;
            overflow: auto;
            margin: 0;
        }
    }

    &.main--primary {
        background-color: #eceff1;
    }
}
