@import "~materialize-css/sass/components/color";

$c--highlight-text: #0095ff;
$c--main-color: #E11924;

$primary-color: $c--highlight-text;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
